<li>
        <span class="title">X: <%= @readings[0] %></span>
</li>
<li>
        <span class="title">Y: <%= @readings[1] %></span>
</li>
<li>
        <span class="title">Z: <%= @readings[2] %></span>
</li>