// Let's start with the basics
$base_color: #7c92ae;
$base_gradient: 'glossy';

// Lists
$list_active_gradient: 'bevel';
$list_header_bg_color: transparentize(saturate($base_color, 10%), .25);
$list_header_gradient: 'matte';

// Tabs
$tabs_dark_color: #000;

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-carousel;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;