@import '../global';
@import 'compass/css3/box-sizing';
@import 'blueprint/typography';

$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-khtml: false;

html, body, * {
  @include box-sizing(border-box);
  -webkit-user-select: none;
  font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}

.x-ios .x-landscape * {
  -webkit-text-stroke: 1px transparent;
}

html, body {
  position: relative;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.x-ipad .x-container,
.x-ipad .x-panel,
.x-ipad .x-toolbar,
.x-ipad .x-mask {
  -webkit-transform: translate3d(0, 0, 0);  
}

body {
  font-size: 104%;
}

body.x-android.x-phone {
  font-size: 116%;
}

body.x-ios.x-phone {
  font-size: 114%;
}

body.x-desktop {
  font-size: 114%;
}

input, textarea {
  -webkit-user-select: text;
}

.x-hidden-visibility {
    visibility: hidden !important;
}

.x-hidden-display {
    display: none !important;
}

.x-hidden-offsets {
  position: absolute !important;
  left: -10000em;
  top: -10000em;
  visibility: hidden;
}

.x-fullscreen {
  position: absolute !important;
  top: 0px;
  left: 0px;
}

.x-body-stretcher {
  margin-bottom: 200px;
}

.x-desktop .x-body-stretcher {
  margin-bottom: 0px;
}

.x-android .x-fullscreen {
  top: 2px;
}

.x-scroller-parent {
    overflow: hidden !important;
}

.x-scroller {
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0;
}

.x-android .x-scroller {
    -webkit-transform: translate(0px, 0px);
}

.x-draggable {
  z-index: 1;
  webkit-transform: translate3d(0px, 0px, 0px);
}

.x-android .x-draggable {
  -webkit-transform: translate(0px, 0px);
}

.x-scrollbar {
  position: absolute;
  z-index: 10;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-border-radius: 4px;
  opacity: 0;
  -webkit-transition-duration: 0ms, 250ms;
}

.x-android .x-scrollbar {
  -webkit-transition-duration: 0ms, 0ms;
}

.x-scrollbar-dark {
  background-color: rgba(0, 0, 0, .6);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.x-scrollbar-light {
  background-color: rgba(255, 255, 255, .6);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.x-scrollbar-vertical {
  top: 0;
  right: 4px;
  width: 4px;    
  -webkit-transform: translate3d(0px, 4px, 0px);
}

.x-android .x-scrollbar-vertical {
  -webkit-transform: translate(0px, 4px);
}

.x-scrollbar-horizontal {
  left: 0;
  bottom: 4px;
  height: 4px;    
  -webkit-transform: translate3d(4px, 0px, 0px);
}

.x-android .x-scrollbar-horizontal {
  -webkit-transform: translate(4px, 0px);
}

.x-mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8000;
  
  &.x-mask-transparent {
    background-color: transparent;
  }
}

.x-floating {
  position: absolute !important;
  z-index: 10000 !important;
  top: 0;
  left: 0;
}

.x-dragging {
  opacity: 0.7;
}

.x-panel-list {
  background-color: saturate(lighten($base_color, 50%), 15%);
}

@if $include_html_style {
  .x-html {
    -webkit-user-select: auto;
    -webkit-touch-callout: inherit;

    @include blueprint-typography;
    line-height: 1.5;
    color: #333;
    font-size: .8em;
    padding: 1.2em;

    ul li {
      list-style-type: circle;
    }
    ol li {
      list-style-type: decimal;
    }
  }
}

.x-video {
  background-color: #000;
}

.x-sortable .x-dragging {
  opacity: .5;
  -webkit-box-shadow: rgba(0,0,0,.5) 0 0 2em;
}

.loading-indicator {
  display: block;
  text-align: center;
  padding: 1em;
  @include bevel_text('light');
  font-size: 1.1em;
}

// .x-fullscreen {
//   background: darken($base_color, 35%) theme-image($theme_name, 'dotgrid.png');
// }