<config endpointurl="https://secure-ausomxima.crmondemand.com/Services/Integration">
	<object name="Account">
		<field>
			<elementName>accountName</elementName>
			<type>text</type>
		</field>
		<field>
			<elementName>location</elementName>
			<type>text</type>
		</field>
		<field>
			<elementName>mainPhone</elementName>
			<type>telephone</type>
		</field>
		<field>
			<elementName>mainFax</elementName>
			<type>telephone</type>
		</field>
		<field>
			<elementName>webSite</elementName>
			<type>text</type>
		</field>
		<field>
			<elementName>currencyCode</elementName>
			<type>picklist</type>
		</field>
		<field>
			<elementName>accountType</elementName>
			<type>picklist</type>
		</field>
		<field>
			<elementName>priority</elementName>
			<type>picklist</type>
		</field>
		<field>
			<elementName>industry</elementName>
			<type>picklist</type>
		</field>
		<field>
			<elementName>publicCompany</elementName>
			<type>checkbox</type>
		</field>
		<field>
			<elementName>region</elementName>
			<type>picklist</type>
		</field>		
	</object>
	<object name="Contact">
		<field>
			<elementName>mrMrs</elementName>
			<type>picklist</type>
		</field>
		<field>
			<elementName>contactFirstName</elementName>
			<type>text</type>
		</field>
		<field>
			<elementName>middleName</elementName>
			<type>text</type>
		</field>
		<field>
			<elementName>contactLastName</elementName>
			<type>text</type>
		</field>
		<field>
			<elementName>timeZoneName</elementName>
			<type>picklist</type>
		</field>
		<field>
			<elementName>customText30</elementName>
			<type>text</type>
		</field>
		<field>
			<elementName>workPhone</elementName>
			<type>telephone</type>
		</field>
		<field>
			<elementName>workFax</elementName>
			<type>telephone</type>
		</field>
		<field>
			<elementName>cellularPhone</elementName>
			<type>telephone</type>
		</field>
		<field>
			<elementName>contactEmail</elementName>
			<type>text</type>
		</field>
		<field>
			<elementName>jobTitle</elementName>
			<type>text</type>
		</field>
		<field>
			<elementName>customText31</elementName>
			<type>text</type>
		</field>
		<field>
			<elementName>contactType</elementName>
			<type>picklist</type>
		</field>
	</object>
</config>