<div id="pageTitle">
    <h1>New Product</h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :index %>
</div>


<div id="content">

    <form method="POST" action="<%= url_for :action => :create %>">
	    <input type="hidden" name="id" value="<%= @product.object %>"/>
        <table>
    		
    		  <tr>
    			  <td class="itemLabel">Name: </td>
    			  <td class="itemValue"><input type="text" name="product[name]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Brand: </td>
    			  <td class="itemValue"><input type="text" name="product[brand]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Price: </td>
    			  <td class="itemValue"><input type="text" name="product[price]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Quantity: </td>
    			  <td class="itemValue"><input type="text" name="product[quantity]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Sku: </td>
    			  <td class="itemValue"><input type="text" name="product[sku]"/></td>
    		  </tr>
    		
        </table>
        <input type="submit" class="standardButton" value="Create" />
    </form>
</div>