<div class="pageTitle">
	<h1></h1>
</div>

<div class="toolbar">
    <div class="leftItem backButton"><%= link_to "Back", :action => :show, :id => @params["id"] %></div>
</div>
<style>
div.content ul li div.text {
	font-size: 15px;
    float: left;
    width: 90%;
    padding: 15px 0 15px 10px;
}


</style>
<div class="content">
    <ul>
        <li>
            <div class="text"><%= @station.intro %></div>
        </li>
    </ul>
</div>